# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Project presentation - will be added later
05_Report/

# SQL folder - not used in this project
03_SQL/

# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.venv/